.output
.venv
.vscode

# Miscellaneous
*.class
*.log
*.pyc
*.swp
frontend/.DS_Store
frontend/.atom/
frontend/.build/
frontend/.buildlog/
frontend/.history
frontend/.svn/
frontend/.swiftpm/
frontend/migrate_working_dir/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
**/coverage/
frontend/.dart_tool/
frontend/.flutter-plugins-dependencies
frontend/.pub-cache/
frontend/.pub/
frontend/build/*
!frontend/build/web/

# Symbolication related
frontend/app.*.symbols

# Obfuscation related
frontend/app.*.map.json

# Android Studio will place build artifacts here
frontend/android/app/debug
frontend/android/app/profile
frontend//android/app/release
